{% extends 'base.html' %} 
{% load static %}
{% load bootstrap4 %}
{% block body %}
  <section class="probootstrap-slider flexslider2 page-inner">
    <div class="overlay"></div>
    <div class="probootstrap-wrap-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <div class="page-title probootstrap-animate">
              <div class="probootstrap-breadcrumbs">
                <a href="/">Inicio</a><span><a href="{% url 'habitaciones:habitaciones_list' %}">Habitaciones</a></span>
              </div>
              <h1>{{ habitacion_detail }}</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <ul class="slides">
      <li style="background-image: url({% static 'img/hotel-soelden-hallenbad-slider.jpg' %});" class="overlay"></li>
      <li style="background-image: url({% static 'img/slider-home-2.jpg' %});" class="overlay"></li>
      <li style="background-image: url({% static 'img/slider-page-ritz-plaza-hotel-leblon-acomodacoes.jpg' %});" class="overlay"></li>
    </ul>
  </section>

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><img src="{{ habitacion_detail.image.url }}" class="img-responsive" alt="Free Bootstrap Template by uicookies.com"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Detalles</h2>
          <p>Numero de habitacion: {{ habitacion_detail.num_habitacion }}</p>
          <p>Baños: {{ habitacion_detail.baños }}</p>
          <p>Garaje: {{ habitacion_detail.garaje }}</p>
          <p>Camas: {{ habitacion_detail.camas }}</p>
        </div>
      </div>
    </div>
  </section>

  {% if request.user.is_authenticated %}
    {% if reserva %}
      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Reserve esta habitación</h2>
                <form action ="" method="POST">
                  {% csrf_token %}
                  <p style="color: red">Debe introducir una fecha de entrada menor a la de salida</p>
                  <div class="row">
                    <div class="col-md-3">
                    Fecha entrada</br>
                    <input type="date" name="fecha_entrada" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Fecha salida</br>
                    <input type="date" name="fecha_salida" value=""></br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                    Ocupantes</br>
                    <input type="number" name="ocupantes" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Niños menores de 3 años</br>
                    <input type="number" name="menor3" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Niños menores entre 3 y 12 años</br>
                    <input type="number" name="menor12" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Mayores de 12 años</br>
                    <input type="number" name="mayor" value=""></br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      Tipo de pension</br>
                      <input type="text" name="pension" value="" placeholder="escriba completa, media, desayuno o nada" size="150"></br>
                    </div>
                  </div>
                  {% buttons %}
                    </br><button type="submit" class="btn btn-primary">Reserva</button>
                  {% endbuttons %}
                </form>
            </div>
          </div>
        </div>
      </section>
    {% else %}
      <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Reserve esta habitación</h2>
                <form action ="" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-3">
                    Fecha entrada</br>
                    <input type="date" name="fecha_entrada" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Fecha salida</br>
                    <input type="date" name="fecha_salida" value=""></br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                    Ocupantes</br>
                    <input type="number" name="ocupantes" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Niños menores de 3 años</br>
                    <input type="number" name="menor3" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Niños menores entre 3 y 12 años</br>
                    <input type="number" name="menor12" value=""></br>
                    </div>
                    <div class="col-md-3">
                    Mayores de 12 años</br>
                    <input type="number" name="mayor" value=""></br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      Tipo de pension</br>
                      <input type="text" name="pension" value="" placeholder="escriba completa, media, desayuno o nada" size="150"></br>
                    </div>
                  </div>
                  {% buttons %}
                    </br><button type="submit" class="btn btn-primary">Reserva</button>
                  {% endbuttons %}
                </form>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  {% else %}
    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Debe registrarse para poder hacer una reserva</p>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock body %}
